.players{
    display: flex; 
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
    transition: transform 0.5s;
}
.players:hover{
    background-color: lightgray;
    transform: translate(-15px);
}
.players img{
    width: 200px;
    height: 210px;
    margin-right: 25px;
}
/* .player-button{
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(178, 156, 32);
    border: 1px solid rgb(109, 94, 12);
} */